<!DOCTYPE html>
{% load static %}
<html lang="en">
  <body>
    {% include 'navbar.html' %}
    <header class="pt-5">
      <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
          <div class="col-md-8 text-center text-md-start mx-auto">
            <div class="text-center">
              <h1 class="display-4 fw-bold mb-5">
                An all-in-one budgeting tool to track&nbsp;<span
                  class="underline"
                  >expenses</span
                >.
              </h1>
              <p class="fs-5 text-muted mb-5">
                A new way to display and track how your finances are really
                looking
              </p>
              <form
                class="d-flex justify-content-center flex-wrap"
                method="post"
              >
                <div class="shadow-lg mb-3">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Your Email"
                    required=""
                  />
                </div>
                <div class="shadow-lg mb-3">
                  <button class="btn btn-primary" type="submit">
                    Keep me updated
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 col-lg-10 mx-auto">
            <div class="text-center position-relative">
              <img
                class="img-fluid"
                src="{% static 'assets/img/illustrations/meeting.svg' %}"
                style="width: 800px"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <div
              class="card border-light border-1 d-flex justify-content-center p-4"
            >
              <div class="card-body">
                <div
                  class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icon-tabler-activity"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12h4l3 8l4 -16l3 8h4"></path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold">Budgeting is hard</h4>
                  <p class="text-muted">
                    With how the economy is going, we all let our finances slip
                    a little. We'll help you keep on track with our custom
                    dashboards
                  </p>
                  <button class="btn btn-sm px-0" type="button">
                    Learn More&nbsp;<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-arrow-right"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      ></path></svg
                    ><br />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card border-light border-1 d-flex justify-content-center p-4"
            >
              <div class="card-body">
                <div
                  class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icon-tabler-ticket"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="15" y1="5" x2="15" y2="7"></line>
                    <line x1="15" y1="11" x2="15" y2="13"></line>
                    <line x1="15" y1="17" x2="15" y2="19"></line>
                    <path
                      d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"
                    ></path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold">Track Expenses</h4>
                  <p class="text-muted">
                    Upload your receipts and outgoings to track your spending.
                    With our custom software, we'll automatically categorise
                    your spending so you don't have to
                  </p>
                  <button class="btn btn-sm px-0" type="button">
                    Learn More&nbsp;<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-arrow-right"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      ></path></svg
                    ><br />
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card border-light border-1 d-flex justify-content-center p-4"
            >
              <div class="card-body">
                <div
                  class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icon-tabler-school"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold">Reports</h4>
                  <p class="text-muted">
                    At the end of each month, we'll give you a breakdown of
                    income/outgoings, how the next month is going to look and
                    anything new to watch out for, delivered direct to your
                    inbox
                  </p>
                  <button class="btn btn-sm px-0" type="button">
                    Learn More&nbsp;<svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-arrow-right"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      ></path></svg
                    ><br />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container py-4 py-xl-5">
        <div class="row">
          <div class="col-md-6">
            <h3 class="display-6 fw-bold pb-md-4">
              We're designed to put you in&nbsp;<span class="underline"
                >control</span
              >
            </h3>
          </div>
          <div class="col-md-6 pt-4">
            <p class="text-muted mb-4">
              Life is busy and moves quick. Sometimes we forget about that
              subscription or let a trial run too long. Everyone is guilty of
              spending a little more than they should, we're here to put you in
              control and get on track with your finances
            </p>
          </div>
        </div>
        <div class="row gy-4 gy-md-0">
          <div
            class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"
          >
            <div>
              <div class="row gy-2 row-cols-1 row-cols-sm-2">
                <div class="col text-center text-md-start">
                  <div
                    class="d-flex justify-content-center align-items-center justify-content-md-start"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                      ></path>
                    </svg>
                    <h5 class="fw-bold mb-0 ms-2">Subscriptions</h5>
                  </div>
                  <p class="text-muted my-3">
                    Get an honest look at what you're paying for monthly
                  </p>
                </div>
                <div class="col text-center text-md-start">
                  <div
                    class="d-flex justify-content-center align-items-center justify-content-md-start"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                      ></path>
                    </svg>
                    <h5 class="fw-bold mb-0 ms-2">Direct Debits</h5>
                  </div>
                  <p class="text-muted my-3">
                    See what's coming out and importantly, when
                  </p>
                </div>
                <div class="col text-center text-md-start">
                  <div
                    class="d-flex justify-content-center align-items-center justify-content-md-start"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                      ></path>
                    </svg>
                    <h5 class="fw-bold mb-0 ms-2">Categories</h5>
                  </div>
                  <p class="text-muted my-3">
                    We categorise your expenses to highlight where you're
                    spending
                  </p>
                </div>
                <div class="col text-center text-md-start">
                  <div
                    class="d-flex justify-content-center align-items-center justify-content-md-start"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-warning"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <circle cx="12" cy="12" r="4"></circle>
                      <path
                        d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                      ></path>
                    </svg>
                    <h5 class="fw-bold mb-0 ms-2">Savings</h5>
                  </div>
                  <p class="text-muted my-3">
                    Get an oversight into how much you could really put away
                    each month
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-first order-md-last">
            <div>
              <img
                class="rounded img-fluid w-100 fit-cover"
                style="min-height: 300px"
                src="{% static 'assets/img/illustrations/teamwork.svg' %}"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section></section>
    <section class="py-4 py-xl-5">
      <div class="container">
        <div
          class="bg-primary border rounded border-0 border-primary overflow-hidden"
        >
          <div class="row g-0">
            <div class="col-md-6 d-flex flex-column justify-content-center">
              <div class="text-white p-4 p-md-5">
                <h2 class="fw-bold text-white mb-3">
                  Okay, how do I get involved?
                </h2>
                <p class="mb-4">
                  We're currently a small team of developers pursing a large
                  project.&nbsp;<br />Have ideas? We'd love to hear feature
                  requests<br />Why not give us a go? Hit the button below and
                  we'll let you know as soon as we're accepting clients
                </p>
                <div class="my-3">
                  <a class="btn btn-warning me-2 mt-2" role="button" href="#"
                    >I have an idea!</a
                  ><a class="btn btn-light mt-2" role="button" href="#"
                    >Get me on board!</a
                  >
                </div>
              </div>
            </div>
            <div
              class="col-md-6 order-first order-md-last"
              style="min-height: 250px"
            >
              <img
                class="w-100 h-100 fit-contain pt-5 pt-md-0"
                src="{% static 'assets/img/illustrations/web-development.svg' %}"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-4 py-xl-5">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="display-6 fw-bold mb-4">
              Control in&nbsp;<span class="underline">your hands</span>
            </h2>
            <p class="text-muted">
              We don't want to be a useless subscription you forget about,
              choose the plan that has the features you could really use
            </p>
          </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <div class="card border-0 h-100">
              <div
                class="card-body d-flex flex-column justify-content-between p-4"
              >
                <span
                  class="badge bg-warning position-absolute top-0 end-0 rounded-bottom-left text-uppercase text-primary"
                  >Coming Soon</span
                >
                <div>
                  <h6 class="fw-bold text-muted">Trial</h6>
                  <h4 class="display-5 fw-bold mb-4">$0</h4>
                  <ul class="list-unstyled">
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Access to our pre-release</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>30 days of access to our Premium tier</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Basic budgeting tracker and reports</span>
                    </li>
                  </ul>
                </div>
                <a class="btn btn-primary disabled" role="button" href="#"
                  >Sign up!</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-warning border-2 h-100">
              <div
                class="card-body d-flex flex-column justify-content-between p-4"
              >
                <div>
                  <h6 class="fw-bold text-muted">Premium</h6>
                  <h4 class="display-5 fw-bold mb-4">$15</h4>
                  <ul class="list-unstyled">
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Full release dashboards</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Advanced budgeting tracker</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Automatic logging of expenses</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Monthly email reports</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>More features to come</span>
                    </li>
                  </ul>
                </div>
                <a class="btn btn-warning disabled" role="button" href="#"
                  >Sign up!</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0 h-100">
              <div
                class="card-body d-flex flex-column justify-content-between p-4"
              >
                <div class="pb-4">
                  <h6 class="fw-bold text-muted">Premium Gold</h6>
                  <h4 class="display-5 fw-bold mb-4">$30</h4>
                  <ul class="list-unstyled">
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Everything in Premium</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Custom alerts for spending</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>Track expenses for multiple accounts/persons</span>
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span
                        >We'll create a yearly tax return for you, based on data
                        we hold</span
                      >
                    </li>
                    <li class="d-flex mb-2">
                      <span class="bs-icon-xs bs-icon-rounded bs-icon me-2"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icon-tabler-check fs-5 text-primary"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          ></path>
                          <path d="M5 12l5 5l10 -10"></path></svg></span
                      ><span>More features to come</span>
                    </li>
                  </ul>
                </div>
                <a class="btn btn-primary disabled" role="button" href="#"
                  >Sign up!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-4 py-xl-5 mb-5">
      <div class="container">
        <div class="row mb-2">
          <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="display-6 fw-bold mb-5">
              <span class="pb-3 underline">FAQ<br /></span>
            </h2>
            <p class="text-muted mb-5">
              Please find some frequently asked questions below, anything you
              don't see here, we're more than happy to answer from our contact
              page!
            </p>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-8 mx-auto">
            <div class="accordion text-muted" role="tablist" id="accordion-1">
              <div class="accordion-item">
                <h2 class="accordion-header" role="tab">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-1 .item-1"
                    aria-expanded="false"
                    aria-controls="accordion-1 .item-1"
                  >
                    When will you release?
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse item-1"
                  role="tabpanel"
                  data-bs-parent="#accordion-1"
                >
                  <div class="accordion-body">
                    <p>
                      We're a small team of developers, so the timeline is
                      currently flexible. Please feel free to sign up to our
                      mailing list for major milestone updates and the waiting
                      list when available
                    </p>
                    <p class="mb-0">
                      Commodo rutrum quisque curabitur habitasse, suspendisse
                      etiam.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" role="tab">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-1 .item-2"
                    aria-expanded="false"
                    aria-controls="accordion-1 .item-2"
                  >
                    Is my data safe?
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse item-2"
                  role="tabpanel"
                  data-bs-parent="#accordion-1"
                >
                  <div class="accordion-body">
                    <p class="mb-0">
                      Our database is encrypted, so your data is safe. We
                      enforce complex passwords and offer two-factor
                      authentication to ensure your data remains yours
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" role="tab">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-1 .item-3"
                    aria-expanded="true"
                    aria-controls="accordion-1 .item-3"
                  >
                    How can I keep up to date with your development?
                  </button>
                </h2>
                <div
                  class="accordion-collapse collapse show item-3"
                  role="tabpanel"
                  data-bs-parent="#accordion-1"
                >
                  <div class="accordion-body">
                    <p class="mb-0">
                      Sign up to our
                      <a href="index.html" target="_top">mailing list</a
                      >&nbsp;to get the latest developments, direct to your
                      inbox
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-4 py-xl-5">
      <div class="container">
        <div
          class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
        >
          <div class="pb-2 pb-lg-1">
            <h2 class="fw-bold text-warning mb-2">
              Not sure which plan suits you?
            </h2>
            <p class="mb-0">
              Reach out to us with your requirements, and we'll help get you on
              the right plan.<br />Students also receive a discount, so get in
              touch first!
            </p>
          </div>
          <div class="my-2">
            <a
              class="btn btn-light fs-5 py-2 px-4"
              role="button"
              href="contacts.html"
              >Contact us</a
            >
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/startup-modern.js' %}"></script>
  </body>
</html>
