{% load static %}
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <title>BudgetApp</title>
  <link
    rel="stylesheet"
    href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
  />
</head>
<nav
  class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"
      ><span>BudgetApp</span></a
    ><button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="features.html">Features</a>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a class="nav-link" href="pricing.html">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacts.html">Contact</a>
        </li>
      </ul>
      <a
        class="btn btn-primary disabled shadow"
        role="button"
        href="signup.html"
        >Sign up</a
      >
    </div>
  </div>
</nav>
